<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{% static 'site/images/favicon.ico' %}" sizes="16x16">
	<title>Mebel-Ars - Фабрика диванов</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'site/css/all.css' %}" />
</head>
<body>
	{% include 'site/_partials/header.html' %}
	{% block content %}{% endblock %}


	<link media="all" rel="stylesheet" type="text/css" href="{% static 'site/css/jquery.fancybox.min.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'site/css/slick.css' %}" />
	<script src="{% static 'site//jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'site/js/jquery.fancybox.min.js' %}"></script>
	<script src="{% static 'site/js/slick.min.js"></script>
	<script src="{% static 'site/js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'site/js/all.js' %}"></script>
</body>
</html>




